html {
    overflow-y: scroll; /* Memaksa scrollbar vertikal selalu terlihat */
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/static/Montserrat-Italic.ttf")
        format("truetype");
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: "Montserrat", serif;
    background-color: #faf7f0;
}

.footer {
    font-family: "Montserrat", serif;
}
.footer h4 {
    font-family: "Montserrat", serif;
}

/* Menggunakan font Bold di elemen tertentu */
h1,
h2,
h3,
h4 {
    font-family: "Montserrat", serif;
    font-weight: bold;
}

/* Menggunakan font Italic di elemen tertentu */
em,
i {
    font-family: "Montserrat", serif;
    font-style: italic;
}
.navbar {
    background-color: #faf7f0;
}
.navbar-brand {
    color: #4a4947;
}
.navbar-brand:hover {
    color: #b17457;
}

.nav-link:hover {
    color: #b17457;
}
/* Menghilangkan warna latar belakang biru pada item dropdown yang aktif */
.navbar-nav .dropdown-menu .dropdown-item.active {
    background-color: transparent !important; /* Menghilangkan latar belakang biru */
    color: #b17457; /* Mengubah warna teks sesuai kebutuhan */
}

/* Mengubah warna saat item dropdown hover */
.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa; /* Warna latar belakang pada hover (sesuaikan dengan tema Anda) */
    color: #b17457; /* Mengubah warna teks saat hover */
}
/* CSS */
.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Tampilkan menu dropdown saat hover */
    margin-top: 0; /* Atur jarak dropdown */
    animation: fadeIn 0.3s ease-in-out; /* Animasi opsional */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Tambahan untuk mencegah flickering saat hover */
.navbar-nav .dropdown-menu {
    transition: all 0.3s ease-in-out;
}

.carousel-img {
    object-fit: cover !important;
    width: 100% !important;
}
.herosection {
    height: 92.5vh;
}

/* testimonial */
.testi-img {
    width: 70px;
    max-height: 70px;
    border-radius: 50%;
    margin-right: 1rem;
    overflow: hidden;
}

.testi-inner {
    padding: 1em;
}

.carousel .card {
    margin: 0 0.5em;
    border: 0;
}
@media screen and (min-width: 576px) {
    .testi-inner {
        display: flex;
        width: 100%;
        margin-inline: auto;
        padding: 1em 0;
        overflow: hidden;
    }
    .testi-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100% / 2);
    }
}

@media screen and (min-width: 1024px) {
    .testi-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100% / 3);
    }
}
.carousel .card {
    margin: 0 0.5em;
    border: 0;
}

/* Animasi typing */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.typing-effect {
    display: inline-block; /* Pastikan span tidak mempengaruhi tata letak */
    overflow: hidden; /* Sembunyikan teks yang belum ditampilkan */
    white-space: nowrap; /* Hindari teks terpotong ke baris berikutnya */
    border-right: 3px solid #fff; /* Simulasikan kursor */
    width: 0;
    animation: typing 4s steps(40) 1s forwards,
        blink-caret 0.75s step-end infinite;
    text-align: left;
}

/* Animasi kursor berkedip */
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.vh-50 {
    height: 50vh;
}

.active {
    color: #b17457 !important;
    font-weight: 500;
}

.dropdown-item.active {
    background-color: #b17457 !important; /* Warna latar aktif */
    font-weight: 500;
}

.title-container {
    position: relative;
}

.primary {
    color: #dac0a3;
}

.about-us-title {
    font-size: 40px;
}

.about-us-subtitle {
    font-size: 20px;
    text-align: justify;
}

.card-icon {
    transition: 0.3s;
}

.card-icon:hover {
    color: #9b7e5c;
}

.mansory-sizer,
.mansory-item {
    width: 30%;
}

.brand-image {
    width: 70%;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.5s;
}

.brand-image:hover {
    filter: grayscale(0);
    transform: scale(1.2);
}

.btn-subscribe,
.btn-to-top {
    background: #9b7e5c;
}
.bg-darker {
    background: #111;
}
a {
    text-decoration: none;
    color: white;
}
.btn-to-top {
    display: inline;
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    transition: transform 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.card-img-top {
    height: 400px;
    object-fit: cover;
}

.img-testimonial {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.testimonial-item .card-body h4 {
    font-size: 20px;
}

.btn-subscribe {
    background: #9b7e5c;
    color: white;
}

.btn-submit {
    background: #9b7e5c;
    color: white;
}

.btn-submit:hover {
    background: black;
    color: white;
}
.btn-carousel {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease !important;
}

.bg-brown {
    background: #fff;
}

.btn-carousel:hover {
    background-color: #000;
    color: #fff;
}
.btn-shop {
    background: #b17457 !important;
    color: white;
}

.btn-shop:hover {
    background: #4a4947 !important;
    color: white;
    transition: ease 0.3s;
}
.service-card {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.card-img-top {
    max-height: 250px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
    text-align: justify;
}

.category-img-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.category-img-wrap:hover {
    transform: scale(1.05);
}

.category-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
    filter: brightness(50%);
}

.category-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 0.3s ease;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Pastikan overlay mengambil seluruh tinggi container */
    width: 100%; /* Pastikan overlay mengambil seluruh lebar container */
}

.category-overlay h5 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    opacity: 1;
    transform: translateY(10px); /* Pindahkan sedikit ke bawah */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.category-overlay p,
.category-overlay a {
    opacity: 0; /* Tidak terlihat secara default */
    transform: translateY(20px); /* Posisi awal sedikit di bawah */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Saat hover */
.category-item:hover .category-overlay h5 {
    transform: translateY(-20px); /* Naik ke atas */
}

.category-item:hover .category-overlay p,
.category-item:hover .category-overlay a {
    opacity: 1; /* Muncul saat hover */
    transform: translateY(0); /* Kembali ke posisi normal */
}

/* Section Background */
.upcoming-events {
    position: relative;
    overflow: hidden;
    min-height: 600px; /* Menyesuaikan tinggi minimal */
}

/* Card Styles */
.event-card .card-img-overlay {
    background: rgba(0, 0, 0, 0.6); /* Overlay transparan hitam */
    transition: background 0.3s ease;
    border-radius: 0.25rem;
}

.event-card:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.event-card:hover .card-img-overlay {
    background: rgba(0, 0, 0, 0.8); /* Efek hover */
}

.event-card .btn-light {
    background-color: #fff;
    color: #000;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.event-card .btn-light:hover {
    background-color: #000;
    color: #fff;
}

/* Konsistensi Tinggi Card */
.event-card {
    height: 100%; /* Tinggi card otomatis konsisten */
    display: flex;
    flex-direction: column; /* Mengatur isi card ke arah vertikal */
    justify-content: space-between; /* Memberi jarak */
}

.event-card .card-img {
    object-fit: cover; /* Membuat gambar sesuai container */
    height: 200px; /* Tinggi gambar tetap */
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.carousel-caption .btn-light {
    background-color: #fff;
    color: #000;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.carousel-caption .btn-light:hover {
    background-color: #000;
    color: #fff;
}

.carousel-img {
    object-fit: cover;
    height: 100vh; /* Sesuaikan dengan tinggi layar */
}

.carousel-caption h2 {
    font-size: 4rem;
}

.carousel-caption p {
    font-size: 2rem;
}

.carousel-caption .btn {
    padding: 10px 40px;
    font-size: 1.2rem;
}

.styled-hr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.styled-hr-line {
    flex-grow: 1;
    height: 2px;
    background-color: #414141;
    margin: 0 10px 0 10px; /* menambahkan jarak antara garis dan gambar */
}

.icon {
    width: 35px; /* sesuaikan ukuran gambar */
    height: 35px; /* sesuaikan ukuran gambar */
}
.check {
    font-size: 25px;
}

.articles {
}
.articles article {
    width: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.articles article h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.6rem;
    color: #f8f8ff;
    transition: color 0.3s ease-out;
}

.articles article img {
    max-width: 100%;
    transform: origin center;
    transition: transform 0.4s ease-in-out;
    height: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    object-fit: cover;
}
.articles article:hover img {
    transform: scale(1.5);
}
.article-preview {
    padding: 1.5rem;
}
.articles figure {
    width: 100%;
    height: 14rem;
    overflow: hidden;
}
.stat-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.stat-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.product-card {
    max-width: 25em;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 5px 5px #e1e1e1;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px; /* Menetapkan tinggi minimum */
    cursor: pointer;
}
.product-card img {
    max-width: 100%;
    height: auto;
}
.product-card h4 {
    font-size: 1.3em;
    margin: 0.5em 0;
    font-weight: bold;
    flex-grow: 1; /* Membuat elemen ini fleksibel */
}
.product-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.product-card .card-body span {
    margin-top: auto; /* Menempatkan harga di bagian bawah */
}

.product-card:hover {
    background-color: #4a4947;
    color: #fff;
}
.product-card:hover button {
    color: #000;
    background-color: #fff;
}

.image-grid img {
    width: 100%;
    height: 300px; /* Fixed height to maintain grid uniformity */
    object-fit: cover; /* Ensures images fill the grid without distortion */
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .product-card {
        font-size: 0.9em;
        margin: 0 auto; /* Membuat card berada di tengah */
    }
}
@media (max-width: 768px) {
    .mansory-sizer,
    .mansory-item {
        width: 40%;
    }
}
@media (max-width: 576px) {
    .mansory-sizer,
    .mansory-item {
        width: 100%;
    }
}
